In [1]:
# importar as bibliotecas necessárias para conexão ao HAWQ, inserção do arquivo e exibição com o pandas
import pandas as pd
import psycopg2 
import getpass

In [2]:
# Célula com o usuário e senha para conexão ao HAWQ
username = str(input("Digite seu usuário: "))
# obter a senha, solicitando ao usuario que digite
password = getpass.getpass('Digite sua senha: ')

Digite seu usuário: f534689
Digite sua senha: ········

In [3]:
# criar a conexao com o sildc de produção
conexao_HAWQ = psycopg2.connect(
    dbname = 'sildc', 
    user = username, 
    password = password, 
    host = '10.116.84.227',
    port = '8132' 
    #sslmode = 'require'
)
# criar o cursor (variavel) que irá guiar as consultas na base
cursor_HAWQ = conexao_HAWQ.cursor()

In [4]:
consulta = 'select * from at_vicor.tbl_001_001_correios_principal;'

In [5]:
perfil_dados = pd.read_sql(consulta,conexao_HAWQ)

In [6]:
perfil_dados.head()

,log_nu,ufe_sg,loc_nu,bai_nu_ini,bai_nu_fim,log_no,log_complemento,cep,int_cep,tlo_tx,log_sta_tlo,log_no_abrev,bai_no,bai_no_abrev,mun_nu
0,1008337,MG,4047,57341,0,Ouro Fino ...,...,38042274,38042274,Rua,S,R Ouro Fino,Damha Residencial Uberaba I,D Res Uberaba I,3170107
1,1008338,MG,4047,57341,0,Mariana ...,...,38042276,38042276,Rua,S,R Mariana,Damha Residencial Uberaba I,D Res Uberaba I,3170107
2,1008339,MG,4047,57341,0,Lagoa Formosa ...,...,38042278,38042278,Rua,S,R Lga Formosa,Damha Residencial Uberaba I,D Res Uberaba I,3170107
3,1008340,MG,4047,57341,0,A ...,...,38042280,38042280,Rua,S,R A,Damha Residencial Uberaba I,D Res Uberaba I,3170107
4,1008341,MG,4047,57341,0,Um ...,...,38042282,38042282,Avenida,S,Av Um,Damha Residencial Uberaba I,D Res Uberaba I,3170107

In [7]:
cursor_HAWQ.close()

In [8]:
from pandas_profiling import ProfileReport

In [9]:
profile_ect = ProfileReport(perfil_dados, title="Relatório de qualidade de dados ECT")

In [10]:
profile_ect.to_file("cep.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=29.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…