# Tratamento de telefones

Este notebook tem como objetivo fazer a validação das estrutura de DDD e telefone.

Importação da biblioteca Pandas para a manipulação dos dados de forma tabular.

In [1]:
import pandas as pd

Leitura do arquivo de telefones.

In [2]:
df = pd.read_csv('../dados/amostra_sicli/tbl_clitbp66_meicompes_202007161559.csv', delimiter='\|\|', 
                 header=None)

/home/administrador/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

Visualização do DataFrame.

In [3]:
df

                  0             1
0      "63        "    "32181635"
1      "12        "    "38839065"
2      "016       "    "92379945"
3      "62        "    "39880003"
4      "62        "    "41418424"
...             ...           ...
45096  "48        "  "98814697 2"
45097  "021       "    "97005148"
45098  "31        "    "35751300"
45099  "73        "    "99249445"
45100  "021       "   "976707237"

[45101 rows x 2 columns]

Renomação das colunas do DataFrame.

In [4]:
df = df.rename(columns={0:"nu_ddd", 1:"nu_telefone"})

Foi identificado espaços sobrando nos dados, com isso foi realizado uma substituição destes espaços por nada.

In [5]:
df = df.replace(to_replace=r'\s\s+', value='', regex=True)

Como este notebook está lendo os dados de um csv foi necessário remover as áspas duplas.

In [6]:
df = df.replace(to_replace=r'\"', value='', regex=True)

Inclusão de zero (0) nos valores nulos.

In [7]:
df = df.fillna(0)

Criação da rotina de validação da estrutura de DDD.

In [8]:
ddd = (11,12,13,14,15,16,17,18,19,21,22,24,27,28,31,32,33,34,35,37,38,41,42,43,44,45,46,47,48,49,51,53,54,55,61,62,63,64,65,66,67,68,69,71,73,74,75,77,79,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99)
valida_ddd=[]
for i in df['nu_ddd']:
    if int(i) in ddd:
        valida_ddd.append("OK")
    else:
        valida_ddd.append("NO")

Criaçao da coluna 'nu_ddd_valido' com a verificação do DDD.

In [9]:
df['nu_ddd_valido'] = valida_ddd

Criação da rotina de validação da estrutura de telefones.

In [10]:
valida_telefone=[]
for i in df['nu_telefone']:
    if type(i) == str:
        if len(i) in (8,9):
            valida_telefone.append("OK")
        else:
            valida_telefone.append("NO")
    else:
        valida_telefone.append("NO")

Criaçao da coluna 'nu_ddd_valido' com a verificação do telefones.

In [11]:
df['nu_telefone_valido'] = valida_telefone

Visualização do DataFrame final.

In [12]:
df

      nu_ddd nu_telefone nu_ddd_valido nu_telefone_valido
0         63    32181635            OK                 OK
1         12    38839065            OK                 OK
2        016    92379945            OK                 OK
3         62    39880003            OK                 OK
4         62    41418424            OK                 OK
...      ...         ...           ...                ...
45096     48  98814697 2            OK                 NO
45097    021    97005148            OK                 OK
45098     31    35751300            OK                 OK
45099     73    99249445            OK                 OK
45100    021   976707237            OK                 OK

[45101 rows x 4 columns]

Filtro de para identificação dos números de telefones não válidos.

In [13]:
df[df['nu_telefone_valido'] == "NO"]

      nu_ddd    nu_telefone nu_ddd_valido nu_telefone_valido
20      0310  92553607 0000            NO                 NO
37       659        9168379            NO                 NO
49      0067        8458939            OK                 NO
53      0081     98613471 0            OK                 NO
65       110     58210970 0            NO                 NO
...      ...            ...           ...                ...
45052      0        2981921            NO                 NO
45055   0021     98017243 6            OK                 NO
45059      0        4215205            NO                 NO
45085   0000     94988312 0            NO                 NO
45096     48     98814697 2            OK                 NO

[3261 rows x 4 columns]

Filtro de para identificação dos números de DDD não válidos.

In [14]:
df[df['nu_ddd_valido'] == "NO"]

      nu_ddd    nu_telefone nu_ddd_valido nu_telefone_valido
20      0310  92553607 0000            NO                 NO
37       659        9168379            NO                 NO
54      0000      988096867            NO                 OK
65       110     58210970 0            NO                 NO
115     0180  33243352 0000            NO                 NO
...      ...            ...           ...                ...
45052      0        2981921            NO                 NO
45059      0        4215205            NO                 NO
45065   5103       22443930            NO                 OK
45085   0000     94988312 0            NO                 NO
45087   0219       93709155            NO                 OK

[1592 rows x 4 columns]